/*Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	height: 100vh;
	background-color: #011627;
	background-image: url(images/outside-duotone.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	color: #fffffc;
	text-align: center;
	padding-top: 120px;
	font-family: 'Lobster', cursive;
}

#big-title {
	font-size: 90px;
	text-shadow: 2px 2px #000;
}

#small-title {
	padding-top: 80px;
	margin-bottom: 30px;
	font-size: 45px;
	font-family: 'Varela Round', sans-serif;
	text-shadow: 2px 2px #000;
}

#middle {
	width: 100%;
	height: 380px;
	background-image: url(images/inside.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	filter: grayscale(30%);
	background-size: cover;
}

#icons {
	width: 100%;

	margin-top: 20px;
	text-align: center;
}

#icon-left,
#icon-right {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	line-height: 150px;
	font-size: 25px;
	font-family: 'Lobster', cursive;
}

#icon-left {
	background-image: url(images/silverware-1667988_640.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#icon-right {
	border-radius: 50%;
	background-image: url(images/location.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#icon-left:hover,
#icon-right:hover {
	background-image: none;
	background-color: #8fc0a9;
	color: #222;
}
